/* Navbar.css */

.navbar {
  width: 100%; /* Asegura que ocupe todo el ancho */
  padding: 1rem 2rem; /* Agrega más espacio para que sea proporcional */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.custom-navbar {
  background-color: #1a1a1a !important;
  height: auto;
}

/* Estilo para los enlaces de la barra de navegación */
.navbar-expand-lg .navbar-nav .nav-link {
  color: #f5f5dc; 
  text-decoration: none;
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
 background-color: #1d2833;
 border-radius: 15px;
  color: #fff;

}
/* General de la Navbar */
.custom-navbar {
  width: 100%;
  background-color: transparent; /* Elimina fondo para que solo el contenedor padre se note */
  padding: 1rem 2rem; /* Ajuste para espacio interno */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sutil sombra para destacar */
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  color: #34495e; /* Azul petróleo */
  font-weight: bold;
}

.custom-navbar .navbar-brand:hover {
  color: #d4af37; /* Dorado */
  text-decoration: none;
}

/* Estilo para los enlaces del menú */
.custom-navbar .nav-link,
.custom-navbar .dropdown-item {
  color: #2c3e50; /* Gris oscuro */
  font-weight: 500;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-item:hover {
  color: #d4af37; /* Dorado */
}

/* Dropdown */
.custom-navbar .dropdown-menu {
  background-color: #f8f9fa; /* Fondo claro para contraste */
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

.custom-navbar .dropdown-item {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}


  